.main-container {
  width: 360px;
  height: 640px;
  position: fixed;
  top: 40px;
  left: 40px;
  border-radius: 3px;
  background-color: #434748;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}