.profile-editor {
  width: 320px;
  height: 262px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 18px;

  label {
    text-transform: uppercase;

    font-size: 12px;
    line-height: 1.5;
    color: #bdbfc0;

    display: inline-block;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  input {
    width: 280px;
    height: 48px;
    background-color: #ececec;

    font-size: 15px;
    color: #424748;
  }
}