.add-contact {
  padding: 40px 30px 0 30px;

  .header {
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #424748;
    text-transform: uppercase;
  }

  .handle {
    label {
      text-transform: uppercase;

      font-size: 12px;
      line-height: 1.5;
      color: #bdbfc0;

      display: inline-block;

      margin-top: 20px;
      margin-bottom: 10px;
    }

    input {
      width: 260px;
      height: 48px;
      background-color: #ececec;

      font-size: 15px;
      color: #424748;
      border-style: none;
    }
  }

  .submit-button {
    margin-top: 40px;
    width: 260px;
  }

  .request-message {
    margin-top: 20px;
    width: 260px;
    text-align: center;
  }
}