.setup-profile {

  position: relative;
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 100px;
    left: 93px;

    img {
      width: 174px;
    }
  }

  .profile-editor {
    position: absolute;
    top: 217px;
    left: 20px;
  }

  .request-message {
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }

  .submit-button {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .prompt {
    position: absolute;
    top: 217px;
    left: 20px;

    width: 320px;
    height: 100px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 16px;

    label {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}